.wpb_tdb_schema_seo_faqpage.vc_shortcodes_container>.controls_column {
    padding: 0px;
    height: 30px;
    line-height: 32px;
    border: 1px solid #e1e2e8;
}
.wpb_tdb_schema_seo_faqpage .vc_control.column_move {
   padding: 5px;
}

